[user]
[push]
	default = simple
[core]
	autocrlf = input
	safecrlf = true
	editor = vim
[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
    type = cat-file -t 
    dump = cat-file -p
[merge]
	tool = meld
[mergetool "meld"]
    keepBackup = false
    trustExitCode = false
	cmd = meld $BASE $LOCAL $REMOTE $MERGED
